:root {
    --iconDiv: 20px;
}

#version,
#state,
#title {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "comic-style";
    user-select: none;
}

#state {
    top: 0;
    left: 0;
    margin-right: 0;
    margin-left: 10px;
}

#title {
    left: 45%;
    margin-right: 0;
}